.post-thumbnail {
    height: 50px;
    width: 100px;
}
.buffer {
    padding-top: 10px;
}

.ck-editor__editable {
    min-height: 400px;
}
.post-success {
    width: 50%;
}

#bulkOptionContainer {
    margin-bottom: 10px;
    padding: 0;
}